<div class="container">
	<section class="content">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				{{> post headline='Gulp ile is yukunuzu hafifletin'}}
				{{> post headline='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore earum, placeat id, quam optio quos, fugiat repudiandae perferendis quisquam distinctio sapiente, commodi fuga odit magnam a dicta consequatur iure? Maxime!'}}
				{{> post headline='Gulp ile is yukunuzu hafifletin'}}
				{{> post headline='Gulp ile is yukunuzu hafifletin'}}
				{{> post headline='Gulp ile is yukunuzu hafifletin'}}
				{{> post headline='Gulp ile is yukunuzu hafifletin'}}
			</div>
		</div>
	</section>
</div>