<header>
	<!-- <div class="social">
	    <a href=""><i class="fa fa-facebook"></i></a>
	    <a href=""><i class="fa fa-twitter"></i></a>
	    <a href=""><i class="fa fa-facebook"></i></a>
	    <a href=""><i class="fa fa-facebook"></i></a>
	</div> -->
	<div class="header-navigation">
		<a href="">gulp</a>
		<a href="">grunt</a>
		<a href="">less</a>
		<a href="">sass</a>
	</div>
</header>