<article>
	<div class="post">
		<div class="title">
			<a href="">{{headline}}</a>
		</div>
		<div class="desc">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, explicabo! Id a unde amet esse consectetur distinctio earum vel similique ea beatae voluptatibus eos, sequi sunt, qui, hic impedit voluptates! [...]
		</div>
		<div class="bottom">
			<div class="share">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</article>