	<span class="time">4</span>
	<div id="viz">
		<canvas id="analyser"></canvas>
		<canvas id="wavedisplay"></canvas>
	</div>
	<div id="controls">
		<button id="record"  onclick="toggleRecording(this);">
			Kaydet
		</button>
		<button id="save" >
			Haykır !
		</button>
	</div>
	<script src="js/audiodisplay.js"></script>
	<script src="js/recorder.js"></script>
	<script src="js/main.js"></script>
